# [OPTIONAL] Where to send CAPTCHA notifications
AUTH_DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/id2/token2"

# [OPTIONAL] Discord user id to ping on CAPTCHA
USER_ID=1234567890

# [OPTIONAL] Discord bot token for interactive CAPTCHA solving
DISCORD_TOKEN="your-bot-token"

# [OPTIONAL] Discord channel ID where the bot will post CAPTCHAs
DISCORD_CHANNEL_ID=1234567890

# Whether to show browser window when running the script
# Set to true if you don't want to see the browser window. false otherwise.
HEADLESS=true

# Browser engine. Supported: chromium, firefox, webkit
BROWSER="chromium"




# ------------------ #
# SiakNG credentials #
# ------------------ #

USERNAME="your-username"
PASSWORD="your-password"




# ----------------------- #
# Schedule update tracker
# ----------------------- #

TRACKER_INTERVAL=1200

# What URL to track. Has to be under "main/Schedule/" e.g. "main/Schedule/Index?period=2025-1&search="
TRACKED_URL="https://academic.ui.ac.id/main/Schedule/"

# Where to send updates
TRACKER_DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/id1/token1"




# ------- #
# War bot #
# ------- #

# Interval before war bot retries after failing
WARBOT_INTERVAL=5

# Whether to automatically submit war bot form
WARBOT_AUTOSUBMIT=true
